<header class="header">
  <div class="container">
    <div class="header_logo">
      <a class="header_logo_link" href="https://www.proplan.ru/" target="_blank">
        <img class="header_logo_img" src="./img/logo.svg" alt="Pro Plan" title="Pro Plan">
      </a>
    </div>
    <div class="header_social">
      <a class="header_social_item vk" href="https://vk.com/purina_proplan_group" target="_blank"></a>
      <a class="header_social_item fb" href="https://www.facebook.com/ProPlanRus" target="_blank"></a>
      <!--<a class="header_social_item ok" href="javascript:void(0);" target="_blank"></a>-->
    </div>
  </div>
</header>