@import "partials/params";
@import "partials/mixins";

#pfs{
  position: relative;
  width: 100%;
  min-height: 100vh;
  border: none;
  overflow: scroll;
  @media screen and (min-width: $tablet1) {
    height: auto
  }
  @media screen and (min-width: $desktop1) {
    min-height: 906px;
  }
  @media screen and (min-width: $desktop2) {
    min-height: 956px;
  }
}